{% set site_title = escape(handler.settings["site_title"]) %}
{% set debug = handler.settings["debug"] %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block title %}{{site_title}}{% end %}</title>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" title="main" charset="utf-8" />
    {% block extrameta %}{% end %}
    {% block extracss %}{% end %}

    {% block pagejs %}
        {% if debug %}
            <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
        {% else %}
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        {% end %}
    {% end %}
    {% block extrajs %}{% end %}
</head>
<body>

<div id="wrap">

    <div id="header">
        <h1>
            <a href="/" title="SELFICIOUS">
                <img src="/static/images/logo.png" alt="Selficious" width="315" height="72" />
            </a>
        </h1>
    </div>

	<div id="main">
        {% block content %}{% end %}
        <div id="footer">
            <address>
                This is selficious. <a href="http://github.com/initpy/selficious">Fork it on github</a> 
                {% if current_user %} &mdash; <a href="{{ users.create_logout_url(request.uri) }}">Sign out</a>{% end %}
            </address>
        </div>
    </div>

    {% block side %}
	<div id="sidebar">
        <div class="section">
            <ul>
                {% if current_user and current_user.administrator %}
                <li><a href="{{ users.create_logout_url(request.uri) }}">Sign out</a></li>
                <li><a href="/post">Post something new</a></li>
                <li><a href="/import">Import your stuff</a></li>
                {% else %}
                <li><a href="{{ users.create_login_url(request.uri) }}"><strong>Login</strong></a></li>
                {% end %}
            </ul>
        </div>
        <div class="section two3rds">
            <h2>What is this?</h2>
            This is a simple application hosted on appengine that helped me 
            backup -quickly!- my delicious bookmarks and manage (add, edit,
            delete) them and my future ones.  You can have your own copy by 
            <a href="http://github.com/initpy/selficious">forking it on github</a>.

            <h2>Who made it?</h2>
            Yuuta did. You can follow him on twitter at 
            <a href="http://twitter.com/initpy">@initpy</a>. &mdash;Yes, I also
            have a <a href="http://big.appspot.com">blog</a>. So stay tuned :)
        </div>
    </div>
    {% end %}
</div>
</body>
</html>
