{% extends "base.html" %}

{% block content %}
    {% if import_success == "1" %}
    <p class="message ok">Yay! Your posts were successfully imported!</p>
    {% else %}
        {% if import_success == "0" %}
        <p class="message error">Oh No! Your posts coulden't be imported! {{ _(error_message) }}</p>
        {% end %}
    {% end %}
  {% for entry in entries %}
    {{ modules.Entry(entry) }}
  {% end %}
  <div><a href="/archive">{{ _("Archive") }}</a></div>
{% end %}

{% block extrajs %}
    {% if current_user and current_user.administrator %}
    <script type="text/javascript">
        function del_confirm(){
            $('.delete').click(
                function(){
                    return confirm('{{_("Are you sure you wish to delete this entry?")}}');
                }
            );
        };
        $(document).ready(del_confirm);
    </script>
    {% end %}
{% end %}
